{% extends 'layout.html.twig' %}

{% block content %}
<div id="about_container">
    <div class="about_content">
        <h4>Le concept</h4>
        <p>Vill’Artisan est un nouveau concept qui a pour but de soutenir le commerce local, les artisans et qui cherche à faire renaitre l’esprit des villages.<br><br>

            Nous proposons de répertorier d’une nouvelle manière les artisans avec un savoir-faire spécialisé, Trouver des artisans spécialisés n’a jamais été aussi simple qu’avec Vill’Artisan qui met à disposition une façon moderne de trouver des artisans spécialisés et à proximité.<br><br>

            Grâce à notre carte et nos nombreux artisans nous voulons faire découvrir des produits authentique, fait maison, unique, artisanaux.<br><br>

            De nos jours les gens achètent dans les magasins de grande distribution et par le biais d’internet, le contact avec le vendeur devient de plus en plus faible, la plupart de nos achats sont des produits manufacturés, à la chaine ou encore importer.<br><br>

            Les boutiques indépendantes, les artisans sont généralement inconnus ou ont du mal à survivre. Notamment à cause du trop gros poids des entreprises de grande distribution, des grandes plateformes de vente en ligne.<br><br>

            A cause de ça, les consommateurs ont perdu l’habitude de se rendre chez les artisans locaux, ayant opté pour la faciliter des achats en ligne. Ils consomment en masse des produits industriels, et ont perdu tout contact avec les vendeurs notamment ceux des enseignes de grandes distributions.<br>

            Vill’Artisan est le moyen de faire face à ces problèmes et de changer notre mode de consommation.
        </p>
        <img src="web/assets/img/carte.png" alt="">
        <hr>
        <h4>L'équipe</h4>
        <p>Vill’Artisan est née grâce à une jeune équipe de 8 personnes qui ont décidé de réaliser ce projet qui leur tenait à cœur.</p>
        <h5>MARKETING</h5>
        <div class="team">
            <div>
                <img src="web/assets/img/antoine.png" alt="">
                <b>Antoine Fachaux</b>
                <p>Lead marketing</p>
            </div>
            <div>
                <img src="web/assets/img/olga.png" alt="">
                <b>Olga Dulac</b>
            </div>
        </div>
        <h5>DESIGNER</h5>
        <div class="team">
            <div>
                <img src="web/assets/img/manon.png" alt="">
                <b>Manon Chassang</b>
                <p>Chef de projet</p>
            </div>
            <div>
                <img src="web/assets/img/aurelien.png" alt="">
                <b>Aurélien Marcetteau</b>
                <p>Lead design</p>
            </div>
            <div>
                <img src="web/assets/img/andrea.png" alt="">
                <b>Andrea Chalat</b>
            </div>
            <div>
                <img src="web/assets/img/tayba.png" alt="">
                <b>Tayba Chaudry</b>
            </div>
        </div>
        <h5>DEVELOPPEUR</h5>
        <div class="team">
            <div>
                <img src="web/assets/img/sodara.png" alt="">
                <b>Sodara Nhek</b>
            </div>
            <div>
                <img src="web/assets/img/emmanuel.png" alt="">
                <b>Emmanuel Micard</b>
                <p>Lead développeur</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}