{% extends 'layout.html.twig' %}

{% block content %}
<div id="admin_container">
    <div class="admin_content">
        <div class="figures_content">
            <div class="nb_content">
                <h6>Nombre de villageois :</h6>
                <div>
                    <img src="web/assets/img/villageois2.png" alt="">
                    <span>{{numbervillager}}</span> <!-- nbr de villageois -->
                </div>
            </div>
            <div class="nb_content">
                <h6>Nombre d'artisans :</h6>
                <div>
                    <img src="web/assets/img/artisan.png" alt="">
                    <span>{{numbercrafter}}</span> <!-- nbr de villageois -->
                </div>
            </div>
        </div>
        <form action="">
            <!-- suppression d'un compte -->
            <!-- créer + éditer un compte artisan -->
            <!-- édition + suppression d'article -->
        </form>
    </div>
</div>
{% endblock %}