{% extends 'layout.html.twig' %}

{% block content %}
<div id="article_container">
    <div class="col_preview">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 article_preview">

                <div class="carousel-caption d-sm-block">
                    <div class="article_header">
                        <h4>TITRE</h4>
                        <h5><b>date</b></h5>
                    </div>
                    <img class="d-block img-fluid" src="web/assets/img/slide.png" alt="First slide">
                    <div class="article_content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A,
                            architecto culpa cupiditate delectus dolor dolorum earum eos
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A,
                            architecto culpa cupiditate delectus dolor dolorum earum eos
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A,
                            architecto culpa cupiditate delectus dolor dolorum earum eos
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A,
                            architecto culpa cupiditate delectus dolor dolorum earum eos
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A,
                            architecto culpa cupiditate delectus dolor dolorum earum eos
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A,
                            architecto culpa cupiditate delectus dolor dolorum earum eos

                        </p>
                        <p class="author"><b>nom</b><b> prénom</b></p> <!-- Nom Prénom de l'auteur-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}