{% extends 'layout.html.twig' %}

{% block content %}
<head>
    <link type="text/css" rel="stylesheet" href="web/jquery-te-1.4.0.css">
    <script type="text/javascript" src="web/jquery-te-1.4.0.min.js" charset="utf-8"></script>
</head>
<div id="profile_crafter_container">
    <div class="row">
        <div class="col-10 offset-1 col-lg-6 offset-lg-3">
            <img class="d-block img-fluid" src="web/assets/img/bijoutier.png" alt="crafter_img">
            <div class="infos_crafter">
                <h3>NOM</h3>
                <h3>PRENOM</h3>

                <h4>Métier</h4>
                <h5>Adresse</h5>
                <h5>Village</h5>
            </div>
            <div class="content">
                <h2>Son histoire</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur cum error
                    et excepturi labore nam necessitatibus nemoneque nostrum officia placeat quam quo quos,
                    ratione repellendus sint? Id, quibusdam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur cum error
                    et excepturi labore nam necessitatibus nemoneque nostrum officia placeat quam quo quos,
                    ratione repellendus sint? Id, quibusdam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur cum error
                    et excepturi labore nam necessitatibus nemoneque nostrum officia placeat quam quo quos,
                    ratione repellendus sint? Id, quibusdam!
                </p>
                <img class="d-block img-fluid" src="web/assets/img/villageoise.png" alt="flat_icon">
                <hr>
                <img class="d-block img-fluid" src="web/assets/img/christelle-bourgeois-37353.png" alt="flat_icon">
                <h2>Sa Boutique</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur cum error
                    et excepturi labore nam necessitatibus nemoneque nostrum officia placeat quam quo quos,
                    ratione repellendus sint? Id, quibusdam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur cum error
                    et excepturi labore nam necessitatibus nemoneque nostrum officia placeat quam quo quos,
                    ratione repellendus sint? Id, quibusdam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur cum error
                    et excepturi labore nam necessitatibus nemoneque nostrum officia placeat quam quo quos,
                    ratione repellendus sint? Id, quibusdam!
                </p>
                <img class="d-block img-fluid" src="web/assets/img/boutique.png" alt="flat_icon">
                <hr>
                <h2>Son travail</h2>
                <div class="row">
                    <div class="col-6">
                        <img src="web/assets/img/ashton-mullins-138190.png" alt="">
                    </div>
                    <div class="col-6">
                        <img src="web/assets/img/collier.png" alt="">
                    </div>
                    <div class="col-6">
                        <img src="web/assets/img/lady-black-dress-jewellery-dress-39648.png" alt="">
                    </div>
                    <div class="col-6">
                        <img src="web/assets/img/nature-hand-natural-people-37826.png" alt="">
                    </div>
                    <div class="col-6">
                        <img src="web/assets/img/pexels-photo-336933.png" alt="">
                    </div>
                    <div class="col-6">
                        <img src="web/assets/img/wesley-tingey-178030.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% if user is defined and user.user_type == "crafter" %}
    <div class="article_editor_container">
        <div class="article_editor_content">
            <h4>Rédiger un article ou un évenement :</h4>
            <div class="message-block"></div>
            <form name="create-article-form" id="create-article-form" method="POST" enctype="multipart/form-data">
                <h5>Votre titre :</h5>
                <input type="text"  name="title-article">
                <h5>Votre image:</h5>
                <input type="hidden" name="MAX_FILE_SIZE" value="1048576" />
                <input type="file" name="article-pic" id="article-pic" />
                <input type="text" name="text-article" class="jqte-test">
                <input type="submit" value="Valider" class="btn">
            </form>
    {% endif %}
            <script>
                $('.jqte-test').jqte();

                // settings of status
                var jqteStatus = true;
                $(".status").click(function()
                {
                    jqteStatus = jqteStatus ? false : true;
                    $('.jqte-test').jqte({"status" : jqteStatus})
                });
            </script>
        </div>
    </div>
</div>
{% endblock %}