{% extends 'layout.html.twig' %}

{% block content %}
<div id="profile_crafter_container">
    <div class="row">
        <div class="col-10 offset-1 col-lg-6 offset-lg-3">
            <img class="d-block img-fluid" src="web/assets/img/bijoutier.png" alt="crafter_img">
            <div class="infos_crafter">
                <h3>NOM</h3>
                <h3>PRENOM</h3>

                <h4>Métier</h4>
                <h5>Adresse</h5>
                <h5>Village</h5>
            </div>
            <div class="content">
                <h2>Son histoire</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur cum error
                    et excepturi labore nam necessitatibus nemoneque nostrum officia placeat quam quo quos,
                    ratione repellendus sint? Id, quibusdam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur cum error
                    et excepturi labore nam necessitatibus nemoneque nostrum officia placeat quam quo quos,
                    ratione repellendus sint? Id, quibusdam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur cum error
                    et excepturi labore nam necessitatibus nemoneque nostrum officia placeat quam quo quos,
                    ratione repellendus sint? Id, quibusdam!
                </p>
                <img class="d-block img-fluid" src="web/assets/img/villageoise.png" alt="flat_icon">
                <hr>
                <img class="d-block img-fluid" src="web/assets/img/christelle-bourgeois-37353.png" alt="flat_icon">
                <h2>Sa Boutique</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur cum error
                    et excepturi labore nam necessitatibus nemoneque nostrum officia placeat quam quo quos,
                    ratione repellendus sint? Id, quibusdam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur cum error
                    et excepturi labore nam necessitatibus nemoneque nostrum officia placeat quam quo quos,
                    ratione repellendus sint? Id, quibusdam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur cum error
                    et excepturi labore nam necessitatibus nemoneque nostrum officia placeat quam quo quos,
                    ratione repellendus sint? Id, quibusdam!
                </p>
                <img class="d-block img-fluid" src="web/assets/img/boutique.png" alt="flat_icon">
                <hr>
                <h2>Son travail</h2>
                <div class="row">
                    <div class="col-6">
                        <img src="web/assets/img/christelle-bourgeois-37353.png" alt="">
                    </div>
                    <div class="col-6">
                        <img src="web/assets/img/christelle-bourgeois-37353.png" alt="">
                    </div>
                    <div class="col-6">
                        <img src="web/assets/img/christelle-bourgeois-37353.png" alt="">
                    </div>
                    <div class="col-6">
                        <img src="web/assets/img/christelle-bourgeois-37353.png" alt="">
                    </div>
                    <div class="col-6">
                        <img src="web/assets/img/christelle-bourgeois-37353.png" alt="">
                    </div>
                    <div class="col-6">
                        <img src="web/assets/img/christelle-bourgeois-37353.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}