{% extends 'layout.html.twig' %}

{% block content %}
<div id="blog_container">
    <div class="blog_preview">
        <h4>Blog</h4>
        <hr>

        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <img class="d-block img-fluid" src="web/assets/img/slide.png" alt="First slide">
                <div class="carousel-caption d-sm-block">
                    <h4>TITRE</h4>
                    <h5><b>date</b></h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A,
                        architecto culpa cupiditate delectus dolor dolorum earum eos</p>
                    <a href="#"><b>En savoir plus...</b></a>
                </div>
            </div>
            <div class="col-12 col-lg-6 offset-lg-3">
                <img class="d-block img-fluid" src="web/assets/img/slide.png" alt="First slide">
                <div class="carousel-caption d-sm-block">
                    <h4>TITRE</h4>
                    <h5><b>date</b></h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A,
                        architecto culpa cupiditate delectus dolor dolorum earum eos</p>
                    <a href="#"><b>En savoir plus...</b></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}