{% extends 'layout.html.twig' %}

{% block content %}
<div id="home_container">
    <div id="project_presentation_container">
        <div class="content_container">
            <h5>Bienvenue sur<br> Vill'artisan</h5>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Earum maiores, voluptatem. Cupiditate, non, tempore. Deleniti doloribus ex harum
                iusto praesentium quasi qui vero vitae. Adipisci corporis eius error molestiae quo.</p>
            <img src="web/assets/img/fa-angle-down.png" alt="arrow_scroll_action">
        </div>
    </div>
    <div id="map_container">
        <div class="content_container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Earum maiores, voluptatem. Cupiditate, non, tempore.</p>
            <div id="select_container">
                <div>
                    <label for="mode">MODE</label>
                    <select id="mode">
                        <option value="costumier">Costumier</option>
                        <option value="joillier">Joillier</option>
                        <option value="maroquinier">Maroquinier</option>
                        <option value="cordonnier">Cordonnier</option>
                    </select>
                </div>
                <div>
                    <label for="fabrication">FABRICATION</label>
                    <select id="fabrication">
                        <option value="potier">Potier</option>
                        <option value="ébéniste">Ébéniste</option>
                        <option value="luthier">Luthier</option>
                        <option value="sculpteur">Sculpteur</option>
                        <option value="tapissier">Tapissier</option>
                        <option value="forgeron">Forgeron</option>
                        <option value="charpentier">Charpentier</option>
                    </select>
                </div>
                <div>
                    <label for="alimentaire">ALIMENTAIRE</label>
                    <select id="alimentaire">
                        <option value="boucher">Boucher</option>
                        <option value="boulanger">Boulanger</option>
                        <option value="chocolatier">Chocolatier</option>
                        <option value="glacier">Glacier</option>
                    </select>
                </div>
                <div>
                    <label for="art">ART</label>
                    <select id="art">
                        <option value="peintre">Peintre</option>
                        <option value="fleuriste">Fleuriste</option>
                        <option value="photographe">Photographe</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
