{% extends 'layout.html.twig' %}

{% block content %}
<div id="home_container">
    <div id="welcome_container">
        <div class="welcome_content">
            <h4>Bienvenue sur<br> Vill'artisan</h4>
            <hr>
            <div class="row">
                <div class="col-sm-6 col-md-12 col-xl-3">
                    <p>Vill’Artisan vous permet de retrouver simplement des artisans spécialisés, de façon moderne et proche de vous dans la ville de Paris. Découvrez des produits authentique, fait maison, unique, artisanaux.
                        Faite revivre le commerce local et soutenez la cause des artisans.
                    </p>
                </div>
                <div class="col-sm-6 col-md-12 col-xl-9">
                    <img class="paris_illustration" src="web/assets/img/paris.png" alt="">
                </div>

            </div>
            <a class="arrow_slide_down_button" href="#project_container">
                <img class="arrow_slide_down" src="web/assets/img/fa-angle-down.png" alt="arrow_scroll_action">
            </a>
        </div>
    </div>
    <div id="project_container">
        <div class="content_container">
            <p>Grâce à notre carte de Paris, découvrez les villages et les artisans qui vous entourent en vous géolocalisant.</p>
            <span>Vous recherchez une spécialité bien précise ? Notre carte le trouvera !</span>

            <div id="select_container">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        MODE
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Costumier</a>
                        <a class="dropdown-item" href="#">Joillier</a>
                        <a class="dropdown-item" href="#">Maroquinier</a>
                        <a class="dropdown-item" href="#">Cordonnier</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        FABRICATION
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Potier</a>
                        <a class="dropdown-item" href="#">Ébéniste</a>
                        <a class="dropdown-item" href="#">Luthier</a>
                        <a class="dropdown-item" href="#">Sculpteur</a>
                        <a class="dropdown-item" href="#">Tapissier</a>
                        <a class="dropdown-item" href="#">Forgeron</a>
                        <a class="dropdown-item" href="#">Charpentier</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ALIMENTAIRE
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Boucher</a>
                        <a class="dropdown-item" href="#">Boulanger</a>
                        <a class="dropdown-item" href="#">Chocolatier</a>
                        <a class="dropdown-item" href="#">Glacier</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ART
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Peintre</a>
                        <a class="dropdown-item" href="#">Fleuriste</a>
                        <a class="dropdown-item" href="#">Photographe</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="map"></div>
        <div class="col_preview">
            <h4>Blog</h4>
            <hr>
            <p>Bienvenue sur le blog du site, vous pourrez, ici, retrouvez notre actualité, celle des artisans qui nous ont rejoints et celle du monde de l’artisanat et du commerce local !</p>

            <div class="row d-none d-lg-flex">
                <div class="col-4">
                    <img class="d-block img-fluid" src="web/assets/img/slide.png" alt="First slide">
                    <div class="carousel-caption d-sm-block">
                        <h4>TITRE</h4>
                        <h5><b>date</b></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A,
                            architecto culpa cupiditate delectus dolor dolorum earum eos</p>
                        <a href="#"><b>En savoir plus...</b></a>
                    </div>
                </div>
                <div class="col-4">
                    <img class="d-block img-fluid" src="web/assets/img/slide.png" alt="First slide">
                    <div class="carousel-caption d-sm-block">
                        <h4>TITRE</h4>
                        <h5><b>date</b></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A,
                            architecto culpa cupiditate delectus dolor dolorum earum eos</p>
                        <a href="#"><b>En savoir plus...</b></a>
                    </div>
                </div>
                <div class="col-4">
                    <img class="d-block img-fluid" src="web/assets/img/slide.png" alt="First slide">
                    <div class="carousel-caption d-sm-block">
                        <h4>TITRE</h4>
                        <h5><b>date</b></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A,
                            architecto culpa cupiditate delectus dolor dolorum earum eos</p>
                        <a href="#"><b>En savoir plus...</b></a>
                    </div>
                </div>
            </div>

        </div>
        <div id="carouselExampleIndicators" class="carousel d-lg-none slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="d-block img-fluid" src="web/assets/img/slide.png" alt="First slide">
                    <div class="carousel-caption d-sm-block">
                        <h4>TITRE</h4>
                        <h5><b>date</b></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A,
                            architecto culpa cupiditate delectus dolor dolorum earum eos</p>
                        <a href="#"><b>En savoir plus...</b></a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block d-lg-none img-fluid" src="web/assets/img/slide.png" alt="Second slide">
                    <div class="carousel-caption d-sm-block">
                        <h4>TITRE</h4>
                        <h5><b>date</b></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A,
                            architecto culpa cupiditate delectus dolor dolorum earum eos</p>
                        <a href="#"><b>En savoir plus...</b></a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block d-lg-none img-fluid" src="web/assets/img/slide.png" alt="Third slide">
                    <div class="carousel-caption d-sm-block">
                        <h4>TITRE</h4>
                        <h5><b>date</b></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A,
                            architecto culpa cupiditate delectus dolor dolorum earum eos</p>
                        <a href="#"><b>En savoir plus...</b></a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
        <div class="content_container">
            <h4>Galerie photo</h4>
            <hr>

            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <img src="web/assets/img/slide.png" alt="">
                </div>
                <div class="col-sm-6 col-md-4">
                    <img src="web/assets/img/slide.png" alt="">
                </div>
                <div class="col-sm-6 col-md-4">
                    <img src="web/assets/img/slide.png" alt="">
                </div>
                <div class="col-sm-6 col-md-4">
                    <img src="web/assets/img/slide.png" alt="">
                </div>
                <div class="col-sm-6 col-md-4">
                    <img src="web/assets/img/slide.png" alt="">
                </div>
                <div class="col-sm-6 col-md-4">
                    <img src="web/assets/img/slide.png" alt="">
                </div>
            </div>
        </div>
        <div class="content_container">
            <h4>Adhésion</h4>
            <hr>
            <div class="row">
                <div class="col-12 col-sm-5 ">
                    <h3>Villageois</h3>
                    <img src="web/assets/img/villageois.png" alt="">
                    <p>Vous vous sentez concerné par notre concept ?
                        inscrivez-vous et commencé à explorer les différents villages qui vous entourent grâce à notre carte,
                        découvrez des artisans uniques et originaux. Vous aurez la possibilité de suivre notre actualité et celle des artisans,
                        discutez en direct avec eux. Vous pourrez personnaliser votre page profil et définir quelles sont les artisans qui vous
                        intéressent. En vous inscrivant vous soutenez le commerce local,
                        des artisans passionnés qui délivrent depuis de nombreuses années leur savoir-faire.</p>
                        <a class="submit_button" href="#">
                        <span class="hover">INSCRIVEZ-VOUS</span>
                        <span>INSCRIVEZ-VOUS</span>
                    </a>
                </div>
                <div class="col-12 col-sm-5 offset-sm-2">
                    <h3>Artisan</h3>
                    <img src="web/assets/img/boucher.png" alt="">
                    <p>Vous êtes un artisan localisé à Paris ? Vous voulez vous digitaliser ? Nous sommes faits pour vous.
                        Grâce à Vill’artisan profitez d’une présence digitale prise en main par notre équipe, une plus grande visibilité
                        grâce à nos nombreux utilisateurs. Grâce à votre page Vous pourrez partager votre savoir-faire à travers des photos,
                        des vidéos, votre actualité et bien plus. Rejoindre Vill’artisan,
                        l’occasion de rejoindre un merveilleux concept qui cherche à vous soutenir !</p>
                    <a class="submit_button" href="#">
                        <span class="hover">INSCRIVEZ-VOUS</span>
                        <span>INSCRIVEZ-VOUS</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCeiRXtmq_b1VExUhW4eInm5yFGw5a0tXg&libraries=drawing&callback=initMap">
</script>
<script src="web/markers.js" type="text/javascript"></script>
<script src="web/map_script.js" type="text/javascript"></script>
{% endblock %}
