<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vill'artisan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="web/style.css">

    <!-- Booststrap -->
    <link rel="stylesheet" href="bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css">
    <script src="bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script>

    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="web/script.js"></script>
</head>
<body>
        <div id="main_container">
            {% block content %}{% endblock %}
        </div>
</body>
</html>
