<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Blog manga</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="web/style.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="web/script.js"></script>
        <script>
        $(document).ready(function () {
            $('.open').click(function openSidebar() {
                $('.link').slideDown("slow").css({ "display": "flex" });
                $('.open').css({ "display": "none" });
                $('.close').css({ "display": "initial" });
            });

            $('.close').click(function closeSidebar() {
                $('.link').hide();
                $('.close').css({ "display": "none" });
                $('.open').css({ "display": "initial" });
            });
        })
    </script>
    </head>
    <body>

 <header id="header">
        
        <nav id="sidebar">
            <img id="logo" src="web/img/Logo.png">
            <div class="buttonslide">
                <div class="open"><img src="web/img/Sidebar.png"></div>
                <div class="close"><img src="web/img/Close.png"></div>
            </div>
            <div class="link">
                <a href="?action=home"><img src="web/img/Home.png"></a>
                 {% if name is defined and name is not empty %}
                 <a href="?action=logout"><img src="web/img/Logout.png"></a>
                 <a href="?action=editProfile"><img src="web/img/Profile.png"></a>
                 <a href="?action=createArticle"><img src="web/img/createArticle.png"></a>
                 {% else %}
                <a href="?action=login"><img src="web/img/Login.png"></a>
                <a href="?action=register"><img src="web/img/Register.png"></a>
                 {% endif %}
            </div>
        </nav>
    </header>
        <div id="error-block"></div>
        <div id="success-block"></div>
        {% if error is defined and error is not empty %}

        <p class="error">Error : {{ error }}</p>
        {% endif %}
        <body>
        {% block content %}{% endblock %}
        <footer></footer>
    </body>
</html>
