<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vill'artisan</title>
    <link rel="icon" href="web/assets/img/icon_tab.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="web/style.css">

    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="web/script_ajax.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script>
    <script src="web/script.js"></script>
</head>
<body>
    <header class="navbar navbar-light navbar-toggleable-md bd-navbar">
        <nav class="container">
            <div class="hidden-lg-up">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="web/assets/img/fa-navicon.png" alt="">
                </button>
                <a class="brand" href="?action=home">
                    VILL' ARTISAN
                </a>
                <a class="login_button" href="?action=login">
                    <img src="web/assets/img/login.png" alt="login_button">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bd-main-nav">
                <ul class="nav navbar-nav hidden-md-up">
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="?action=home">Accueil</a>
                    </li>
                    {% if name is defined and name is not empty %}
                        <li class="nav-item">
                            <a class="nav-item nav-link " href="?action=blog">Actualités</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link " href="?action=profile">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="?action=logout">Déconnection</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-item nav-link " href="?action=register">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="?action=login">Connection</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="?action=about">À propos</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav hidden-md-down">
                    <li class="nav-item">
                        <a class="brand" href="?action=home">
                            VILL' ARTISAN
                        </a>
                    </li>
                    <div>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="?action=home">Accueil</a>
                        </li>
                        {% if name is defined and name is not empty %}
                            <li class="nav-item">
                                <a class="nav-item nav-link " href="?action=blog">Actualités</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-item nav-link " href="?action=profile">Profil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-item nav-link" href="?action=logout">Déconnection</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-item nav-link " href="?action=register">Inscription</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-item nav-link" href="?action=login">Connection</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="?action=about">À propos</a>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
    </header>
    <div id="main_container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div id="footer_content">
            <div class="row">
                <div class="col-12 col-md-4 offset-md-2 col-lg-3 offset-lg-3">
                    <a href="?action=home">Accueil</a>
                    <a href="?action=about">À propos</a>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    {% if name is defined and name is not empty %}
                    <a href="?action=profile">Profil</a>
                    <a href="?action=blog">Actualités</a>
                    {% else %}
                    <a href="?action=register">Inscription</a>
                    <a href="?action=login">Connection</a>
                    {% endif %}
                </div>

                <div class="col-2 offset-5">
                    <a href="#">
                        <img src="web/assets/img/fa-facebook.png" alt="">
                    </a>
                    <a href="#">
                        <img src="web/assets/img/fa-youtube-play.png" alt="">
                    </a>
                </div>
            </div>
            <a class="brand" href="?action=home">
                VILL' ARTISAN
            </a>
            <div id="copyright">
                <p>©2017 All rights reserved</p>
            </div>
        </div>
    </footer>
</body>
</html>
