{% extends 'layout.html.twig' %}

{% block content %}
    <div id="form">
        <div id="blockForm">
            <h3>Login</h3>
            <form name="login-form" method="POST">
                <input type="text" name="username" placeholder="Login"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <input type="submit">
            </form>
        </div>
    </div>
{% endblock %}
