 {% extends 'layout.html.twig' %}

    {% block content %}
    <section id="editProfile">
        <div id="infos">
            <span id="title">PROFILE</span><br>
            <span class="text">Ton pseudo :</span> {{name}}<br>
            <span class="text">Ton adresse mail :</span> {{user['email']}}<br>
            <span class="text">Ta photo de profil :</span><br/>
            <img src={{profilepic}} alt="">
            <br/>
        </div>
        <div id="edit">
            <span id="title">Change password?</span>
            <form name="change-password-form" method="POST" action="?action=changePassword">
                <label for="old-password">Ancien mot de passe : </label><input type="password" id="old-password" name="old-password"><br>
                <label for="new-password">Nouveau mot de passe : </label><input type="password" id="new-password" name="new-password"><br>
                <input type="submit">
            </form>

            <span id="title">Upload photo?</span>
            <form method="POST" action="?action=changeProfilePic" enctype="multipart/form-data">
                 <label for="mon_fichier">Photo de profil (tous formats | max. 1 Mo) :</label><br />
                 <input type="hidden" name="MAX_FILE_SIZE" value="1048576" />
                 <input type="file" name="my-pic" id="my-pic" /><br />
                 <input type="submit" name="submit" value="Envoyer" />
            </form>
        </div>
    </section>
    {% endblock %}