{% extends 'layout.html.twig' %}

{% block content %}
<div id="register_container">
    <div class="col_preview">
        <h4>Inscription</h4>
        <hr>

        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <h5>En tant que villageois :</h5>
                <form name="form-register-visitor" id="form-register-visitor" method='post' action='index.php?action=register'>
                    <input type="hidden" id="user-type" name="user-type" value="villager">
                    <label for id="lastname">Votre nom:</label>
                    <input type="text" id="lastname" name="lastname">
                    <label for id="firstname">Votre prénom:</label>
                    <input type="text" id="firstname" name="firstname">
                    <label for id="passw">Votre mot de passe:</label>
                    <input type="password" id="passw" name="passw"><br/>
                    <label for id="mail">Votre email:</label>
                    <input type="email" id="mail" name="mail">
                    <label for id="adress">Votre Adresse:</label>
                    <input type="text" id="adress" name="adress">
                    <label for id="postcode">Code postal:</label>
                    <input type="text" id="postcode" name="postcode">

                    <p>Veuillez selectionner un village :</p>

                    <!-- TODO responsive select on dropdown -->

                     <select id='village-user' name="village-user" >
                         <option>Louvre / CHâtelet-les-halles</option>
                         <option>Opéra / Vendôme</option>
                         <option>Grands-Boulevards</option>
                         <option>Arts et métiers</option>
                         <option>Saint Victor / Jardins des Plantes</option>
                         <option>Sorbonne / Val de Grâce</option>
                         <option>Odéon / Notre-Dames des champs</option>
                         <option>Saint-Germain-des-prés / Monnaie</option>
                         <option>Invalides / Saint Thomas D'Aquin</option>
                         <option>Gros Caillou / École militaire</option>
                         <option>Champs-Elysées</option>
                         <option>Europe / Madeleine</option>
                         <option>Saint Georges / Rochechouart</option>
                         <option>Saint Vincent de Paul</option>
                         <option>Hôpital saint Louis</option>
                         <option>Folie-Méricourt / Sainte Ambroise</option>
                         <option>Roquette</option>
                         <option>Quinze-vingts</option>
                         <option>Picpus / Bel-air</option>
                         <option>Bercy</option>
                         <option>Quartier de la Gare</option>
                         <option>Maison Blanche</option>
                         <option>Salpêtrière / Croulebarbe</option>
                         <option>Montparnasse</option>
                         <option>Petit-Montrouge</option>
                         <option>Plaisance</option>
                         <option>Saint Lambert</option>
                         <option>Grenade / Javel</option>
                         <option>Auteil</option>
                         <option>La Muette</option>
                         <option>Ternes / Plaine Monceau</option>
                         <option>Batignoles</option>
                         <option>Clignancourt</option>
                         <option>Montmartre</option>
                         <option>Goutte d'Or / La Chapelle</option>
                         <option>La Vilette</option>
                         <option>Combat / Amérique</option>
                         <option>Belleville / Père Lachaise</option>
                         <option>Saint Fargeau</option>
                         <option>Charonne / Maraichers</option>
                    </select>

                    <input class="submit_button" type="submit" value="Envoyer">
                </form>
            </div>
            <hr>
            <div class="col-12 col-lg-6 offset-lg-3">
                <h5>En tant qu'artisan :</h5>
                <p>Vill'artisan sélectionne ses artisans. C'est pourquoi pour vous inscrire il suffit de nous contacter à <b>villartisan@gmail.com .</b></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}