body{
    margin: 0;
    background: url('img/card.png') 50%;
    font-family: 'Roboto', sans-serif;
}

/* sidebar */
#sidebar{
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: black;
    width: 100%;
}
#sidebar nav {
    width: 100%;
}
.buttonslide{
    display: flex;
    align-self: flex-start;
    margin-top:-40px;
}
.close{
    display: none;
}
.close img, .open img{
    width: 40px;
    cursor: pointer;
}
#logo{
    width: 60px;
}
.link{
    display: none;
    list-style-type: none;
    width:75%;
    justify-content: space-between;
}
.link img{
    width: 70px;
    cursor: pointer;
}
/*End sidebar*/

body h1{
  text-align: center;
}
#header{
    display:flex;
    flex-direction: column;
}
#header ul{
    padding-left:0;
    display: flex;
    justify-content: space-around;
}
#header ul li{
    list-style-type: none;
    display: flex;
}
#main{
    display:flex;
    width:100%;
    flex-direction: column;
}
#main article{
    display:flex;
    align-self: center;
    flex-direction: column;
    width:90%;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px 0;
    background-color: #CEE3F6;
}
#main article header{
    align-self: center;
    width:80%;
    color: gray;
}
#main article header h1{
    text-align: none;
    word-wrap:break-word;
}
#main article header a{
    color: black;
    text-decoration: none;
}
#main article .content{
    align-self: center;
    width:90%;
    margin: 1%;
}
#main article .content p{
    word-wrap: break-word;
}
#main article figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:0;
    width:100%;
}
#main article figure img{
    width:70%;
    max-width:500px;
    max-height:200px;
}
#main article footer{
    display: flex;
    align-self: center;
    padding-bottom: 10px;
}
#main article footer a{
    background-color: #44D586;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

/* CreateArticle, EditArticle, Login & Register Form */
#form{
    display:flex;
    width:100%;
    flex-direction: column;
    margin-top: 20px;
}
#blockForm{
    border: 1px solid gray;
    border-radius: 5px;
    width:80%;
    display:flex;
    align-self: center;
    flex-direction: column;
}
#form form{
    background-color: white;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 20px 0;
}
#form h3{
    text-align: center;
    background-color: #44D586;
    padding: 15px 0;
    font-size: 25px;
    margin: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#form form input{
    width: 60%;
    font-size: 15px;
    padding-left: 15px;
    margin: 5px 0;
    border-radius: 7px;
    background-color: #E1E1E1;
    border: none;
}
#form form input[type='submit']{
    padding: 0;
    width: 35%;
    background-color: #44D586;
}

/* Profile */
#profile{
    display:flex;
    flex-direction: column;
    width: 80%;
    margin: 20px 10% 0 10%;
    padding-top: 10px;
    text-align: center;
    background-color: #CEE3F6;
    border: 1px solid gray;
    border-radius: 10px;
    align-items: center;
}
#profile #title{
    font-weight: bold;
    color:  #44D586;
    text-decoration: underline;
}
#profile img{
    width: 60%;
}

/* Article (& Comments) */
section{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section #article #imgArticle{
    width: 70%;
}
section #article, section #comments, /* id page = EditProfile */ #editProfile div{
    width: 85%;
    background-color: #CEE3F6;
    margin: 5px 0;
    padding: 10px 2.5%;
    text-align: center;
    border: 1px solid white;
    border-radius: 7px;
}
section #article #title, section #comments #title, section #title{
    font-weight: bold;
    color: #44D586;
    text-decoration: underline;
}
section #article div, section #comments .comment{
    text-align: left;
    align-content: flex-start;
}
section #article div .text, section #comments .comment .text,  /* id page = Profile */ #profile .text ,/* id page = EditProfile */ #editProfile #infos .text{
    color: gray;
    text-decoration: underline;
}
section #article div #showProfile{
    color: #ffbb33;
}
section #comments .comment form div{
    color: red;
    text-align: center;
    cursor: pointer;
}
section #comments .comment hr{
    border-color: black;
}
section #comments .comment #margin{
    margin: 0 5%;
}
section #title{
    font-size: 14px;
}
section form input{
    border: 1px solid black;
    background-color: #E1E1E1;
    border-radius: 7px;
    padding: 3px;
    font-size: 13px;
}
section form input[type='submit']{
    background-color: #44D586;
}
/* Edit Profile */
#editProfile #title{
    font-size: 16px;
}
#editProfile #edit form{
    margin: 5px 0;
}

/* Media Queries */
@media screen and (min-width:641px){
    #main{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        flex-direction: row;
    }
    #main article{
        display:flex;
        align-self: center;
        flex-direction: column;
        width:45%;
        background-color: #CEE3F6;
        margin: 1% 1.5%;
        border-radius: 7px;
    }
    #main article header{
        width: 90%;
    }
    #main article footer hr{
        display: none;
    }
    #sidebar{
        flex-direction: row;
    }
    #logo{
        margin: 2%;
    }
    .buttonslide{
        display: none;
    }
    .link{
        display: flex;
        justify-content: space-around;
        margin-left: 10%;
    }
    /* CreateArticle, Login & Register Form */
    #form{
        margin-top: 50px;
    }
    #blockForm{
        width: 50%;
    }

    /* Profile */
    #profile{
        width: 60%;
        margin: 20px 30% 0 20%;
        padding-top: 10px;
    }
    #profile img{
        width:50%;
    }
    /* Article (& Comments) */
    section #article, section #comments, #editProfile div{
        width: 70%;
        padding: 10px 5%;
    }
}

@media screen and (min-width: 1025px){
    #main article{
        width: 30%;
    }
    #logo{
        margin: 0.5% 5%;
    }
    .link{
        margin: 0;
        display: flex;
        justify-content: flex-end;
        width: 90%;
    }
    .link a{
        margin: 0 10%;
    }
    /* CreateArticle, Login & Register Form */
    #form{
        margin-top: 100px;
    }
    #blockForm{
        width: 45%;
    }
    /* Profile */
    #profile{
        width: 50%;
        margin: 20px 25% 0 25%;
        padding-top: 10px;
    }
    #profile img{
        width:40%;
    }
    /* Article (& Comments) */
    section #article, section #comments, #editProfile div{
        width: 55%;
        padding: 10px 6%;
    }
}

@media screen and (min-width: 1441px){
    #logo{
        width: 50px;
    }
    .link img{
        width: 55px;
    }
    /* CreateArticle, Login & Register Form */
    #form{
        margin-top: 120px;
    }
    #blockForm{
        width: 30%;
    }
    /* Profile */
    #profile{
        width: 40%;
        margin: 20px 30% 0 30%;
        padding-top: 10px;
    }
    #profile img{
        width:35%;
    }
    /* Article (& Comments) */
    section #article, section #comments, #editProfile div{
        width: 45%;
        padding: 10px 7.5%;
    }
}
