$brown: #422c1f;
$red: #8e3e3d;
$gold: #d3ae68;
$grey: #343539;
$black: #000;
$white: #f8f8f8;

//Fonts
@font-face {
    font-family: 'filsonProBold';
    src: url('assets/fonts/FilsonPro/FilsonProBold-Bold.otf');
}
@font-face {
    font-family: 'filsonProLight';
    src: url('assets/fonts/FilsonPro/FilsonProLight-Light.otf');
}
@font-face {
    font-family: 'hensa';
    src: url('assets/fonts/Raul-5/Hensa.otf');
}
@font-face {
    font-family: 'montserrat';
    src: url('assets/fonts/Montserrat/Montserrat-Light.otf');
}
@font-face {
    font-family: 'Brandon_text-Bold';
    src: url('assets/fonts/Brandon_text/HVD Fonts - BrandonText-Bold.otf');
}
@font-face {
    font-family: 'Brandon_text-Medium';
    src: url('assets/fonts/Brandon_text/HVD Fonts - BrandonText-Medium.otf');
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('assets/fonts/Proxima nova/ProximaNova-Regular.otf');
}

@mixin content_container(){
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
}

p{
    font-family: 'ProximaNova-Regular';
}

html{
    height: 100vh;

    body{
        height: 100vh;

        header{
            background-color: $white;

            .container{
                width: 100%;
                margin: 0;

                .hidden-lg-up{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;

                    button{
                        border: 0;

                        img{
                            width: 26px;
                            height: 20px;
                        }
                    }

                    .brand{
                        font-family: 'Brandon_text-Bold';
                        color: $red;
                        font-size: 22px;
                    }

                    .login_button{
                        width: 40px;
                        height: 30px;

                        img{
                            width: inherit;
                            height: inherit;
                        }
                    }
                }
            }
        }
        #main_container{
            width: 100%;
            height: 100vh;

            #home_container{
                width: inherit;
                height: inherit;

                #project_presentation_container{
                    width: inherit;
                    height: 92%;
                    background-image: url("assets/img/Rectangle.png");
                    background-size: 100% 100%;

                    .content_container{
                        @include content_container;
                        align-items: center;
                        height: 95%;

                        h5{
                            margin-top: 30px;
                            font-family: 'Brandon_text-Medium';
                            text-align: center;
                            color: $white;
                        }

                        hr{
                            width: 30%;
                            background-color: $white;
                        }

                        p{
                            color: $white;
                        }

                        img{
                            margin-top: auto;
                        }
                    }
                }
            }
            #map_container{
                height: inherit;

                .content_container{
                    @include content_container;

                    p{
                        margin-top: 30px;
                    }
                    #select_container{
                        margin: 10px 0 10px 0;

                        .dropdown{
                            margin-bottom: 10px;
                        }
                    }
                }
                #map{
                    width: 100%;
                    height: 80%;
                    margin: 30px 0 30px 0;
                }
                .content_container{
                    @include content_container;
                    align-items: center;

                    h5{
                        margin-top: 30px;
                        font-family: 'Brandon_text-Medium';
                        text-align: center;
                        color: $gold;
                    }

                    hr{
                        width: 30%;
                        background-color: $grey;
                    }

                    p{
                        color: $grey;
                    }
                }

                .carousel{
                    margin-bottom: 20px;
                    max-width: 500px;
                    max-height: 450px;
                    background-color: $white;
                    padding: 20px 0 10px 0;

                    .carousel-indicators{
                        margin-bottom: 5px;

                        li{
                            border-radius: 50%;
                            max-width: 10px;
                            height: 10px;
                            border: 1px solid $brown;
                        }

                        li.active{
                            background-color: $brown;
                        }
                    }

                    .carousel-inner{
                        .carousel-item{
                            height: 450px;

                            img{
                                margin: 0 auto 0 auto;
                                width: 80%;
                                height: 40%;
                            }

                            .carousel-caption{
                                text-align: left;
                                padding-bottom: 40px;

                                h4{
                                    color: $red;
                                }
                                p, h5, a{
                                    color: $grey;
                                }
                            }
                        }
                    }
                    .carousel-control-prev{
                        .carousel-control-prev-icon{
                            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
                        }
                    }
                    .carousel-control-next{
                        .carousel-control-next-icon{
                            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
                        }
                    }
                }
                .content_container{
                    @include content_container;
                    align-items: center;

                    .row{
                        .col{
                            width: 40%;
                            height: 100px;
                            background-color: $white;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
    }
}