$brown: #422c1f;
$brownlight: #b27d61;
$red: #8e3e3d;
$gold: #d3ae68;
$grey: #343539;
$black: #000;
$white: #f8f8f8;

//Fonts
@font-face {
    font-family: 'filsonProBold';
    src: url('assets/fonts/FilsonPro/FilsonProBold-Bold.otf');
}
@font-face {
    font-family: 'filsonProLight';
    src: url('assets/fonts/FilsonPro/FilsonProLight-Light.otf');
}
@font-face {
    font-family: 'hensa';
    src: url('assets/fonts/Raul-5/Hensa.otf');
}
@font-face {
    font-family: 'montserrat';
    src: url('assets/fonts/Montserrat/Montserrat-Light.otf');
}
@font-face {
    font-family: 'Brandon_text-Bold';
    src: url('assets/fonts/Brandon_text/HVD Fonts - BrandonText-Bold.otf');
}
@font-face {
    font-family: 'Brandon_text-Medium';
    src: url('assets/fonts/Brandon_text/HVD Fonts - BrandonText-Medium.otf');
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('assets/fonts/Proxima nova/ProximaNova-Regular.otf');
}

@mixin content_container(){
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
}

@mixin submit_button(){
    .submit_button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        margin: 0 auto 30px 0;
        color: $white;
        font-family: 'Brandon_text-Medium';
        font-size: 18px;
        background-color: $red;
        border: 2px solid $red;
        text-align:center;
        text-decoration: none;
        overflow:hidden;
        position:relative;
        line-height:40px;
    }
    .submit_button span {
        position:relative;
        transition:color .1s ease-out;
        -webkit-transition:color .2s ease-out;
        -moz-transition:color .2s ease-out;
    }
    .submit_button:hover span {
        color:$red;
    }
    .submit_button .hover {
        position:absolute;
        top:0;
        left:0;
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height:100%;
        background:$white;
        border:1px solid transparent;
        transform:scale(1,0);
        -webkit-transform:scale(1,0);
        -moz-transform:scale(1,0);
        -ms-transform:scale(1,0);
        transform-origin:center top;
        -webkit-transform-origin:center top;
        -moz-transform-origin:center top;
        -ms-transform-origin:center top;
        transition:all .15s ease-out;
        -webkit-transition:all .15s ease-out;
        -moz-transition:all .15s ease-out;
    }
    .submit_button:hover .hover {
        transform:scale(1,1);
        -webkit-transform:scale(1,1);
        -moz-transform:scale(1,1);
        -ms-transform:scale(1,1);
    }
}

p{
    font-family: 'ProximaNova-Regular';
}

html{
    height: 100vh;

    body{
        height: 100vh;

        header{
            background-color: $white;

            .container{
                width: 100%;
                margin: 0;

                .hidden-lg-up{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;

                    button{
                        border: 0;

                        img{
                            width: 28px;
                            height: 25px;
                        }
                    }

                    .brand{
                        font-family: 'Brandon_text-Bold';
                        color: $red;
                        font-size: 22px;
                    }

                    .login_button{
                        width: 40px;
                        height: 30px;

                        img{
                            width: inherit;
                            height: inherit;
                        }
                    }
                }
                .navbar-collapse{
                    .navbar-nav{
                        padding: 15px 0 15px 0;

                        li{
                            text-align: center;
                            font-family: 'Brandon_text-Bold';
                            font-size: 18px;
                            margin: 0 15px 0 15px;
                        }
                    }
                }
            }
        }
        #main_container{
            display: flex;
            flex-direction: column;
            width: 100%;

            #home_container{
                width: inherit;

                #welcome_container{
                    width: inherit;
                    height: 92vh;
                    background-image: url("assets/img/Rectangle.png");
                    background-size: 100% 100%;

                    .content_container{
                        @include content_container;
                        align-items: center;
                        height: 95%;

                        h4{
                            margin-top: 40px;
                            font-family: 'Brandon_text-Medium';
                            text-align: center;
                            color: $white;
                        }

                        hr{
                            width: 30%;
                            background-color: $white;
                        }

                        p{
                            margin: 20px 0 20px 0;
                            color: $white;
                        }

                        a{
                            margin-top: auto;
                        }
                    }
                }
            }
            #project_container{
                height: 100%;

                .content_container{
                    @include content_container;

                    p{
                        margin: 40px 0 20px 0;
                    }
                    #select_container{
                        display: flex;
                        flex-wrap: wrap;
                        margin: 10px 0 10px 0;

                        .dropdown{
                            margin: 10px 10px 10px 10px;
                        }
                    }
                }
                #map{
                    width: 100%;
                    height: 80vh;
                    margin: 30px 0 30px 0;
                }
                .col_preview{
                    @include content_container;
                    width: 55%;
                    align-items: center;

                    h4{
                        margin-top: 30px;
                        font-family: 'Brandon_text-Medium';
                        text-align: center;
                        color: $gold;
                    }

                    hr{
                        width: 30%;
                        background-color: $grey;
                    }

                    p{
                        margin: 20px 0 20px 0;
                        color: $grey;
                    }
                    .row{
                        height: 490px;

                        .col-4{
                            border: 10px solid #fff;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;

                            padding: 10px;
                            background-color: $white;

                            .carousel-caption{
                                text-align: left;

                                h4{
                                    text-align: left;
                                    color: $red;
                                }
                                p, h5, a{
                                    color: $grey;
                                }
                            }
                        }
                    }
                }

                .carousel{
                    margin: 0 auto 20px auto;
                    max-width: 500px;
                    max-height: 450px;
                    background-color: $white;
                    padding: 20px 0 10px 0;

                    .carousel-indicators{
                        margin-bottom: 5px;

                        li{
                            border-radius: 50%;
                            max-width: 10px;
                            height: 10px;
                            border: 1px solid $grey;
                        }

                        li.active{
                            background-color: $grey;
                        }
                    }

                    .carousel-inner{
                        .carousel-item{
                            height: 450px;

                            img{
                                margin: 0 auto 0 auto;
                                width: 80%;
                                height: 40%;
                            }

                            .carousel-caption{
                                text-align: left;
                                padding-bottom: 40px;

                                h4{
                                    color: $red;
                                }
                                p, h5, a{
                                    color: $grey;
                                }
                            }
                        }
                    }
                    .carousel-control-prev{
                        .carousel-control-prev-icon{
                            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
                        }
                    }
                    .carousel-control-next{
                        .carousel-control-next-icon{
                            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
                        }
                    }
                }
                .content_container{
                    h4{
                        margin-top: 30px;
                        font-family: 'Brandon_text-Medium';
                        text-align: center;
                        color: $gold;
                    }

                    hr{
                        width: 30%;
                        background-color: $grey;
                    }

                    .row{
                        width: 100%;

                        div{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0;

                            img{
                                width: 95%;
                                height: 95%;
                            }
                        }
                    }
                }
                .content_container{

                    .row{
                        margin: 20px 0 60px 0;

                        .col-12{
                            display: flex;
                            flex-direction: column;

                            h3{
                                color: $brownlight;
                                font-family: 'filsonProBold';
                            }
                            img{
                                width: 30%;
                                height: auto;
                            }

                            @include submit_button;
                        }
                    }
                }
            }
            #blog_container{

                .col_preview{
                    @include content_container;
                    align-items: center;

                    h4{
                        margin-top: 30px;
                        font-family: 'Brandon_text-Medium';
                        text-align: center;
                        color: $gold;
                    }

                    hr{
                        width: 30%;
                        background-color: $grey;
                    }

                    p{
                        margin: 20px 0 20px 0;
                        color: $grey;
                    }
                    .row{
                        margin: 0 0 40px 0;

                        .col-12{
                            height: 570px;
                            border: 10px solid #fff;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            padding: 10px;
                            background-color: $white;

                            .carousel-caption{
                                text-align: left;

                                h4{
                                    text-align: left;
                                    color: $red;
                                }
                                p, h5, a{
                                    color: $grey;
                                }
                            }
                        }
                    }
                }
            }
            #register_container{
                height: auto;

                .col_preview{
                    @include content_container;
                    align-items: center;

                    h4{
                        margin-top: 30px;
                        font-family: 'Brandon_text-Medium';
                        text-align: center;
                        color: $gold;
                    }

                    hr{
                        width: 30%;
                        background-color: $grey;
                    }

                    p{
                        margin: 20px 0 20px 0;
                        color: $grey;
                    }
                    .row{
                        width: 100%;
                        margin: 0 0 40px 0;

                        .col-12{
                            border: 10px solid #fff;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            padding: 10px;
                            background-color: $white;

                            form{
                                display: flex;
                                flex-direction: column;

                                p{
                                    text-align: center;
                                }

                                select{
                                    width: 50%;
                                    margin: 0 auto 30px auto;

                                }

                                @include submit_button;

                                input[type='submit']{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
            #login_container{
                height: 65.2vh;

                .col_preview{
                    @include content_container;
                    align-items: center;

                    h4{
                        margin-top: 30px;
                        font-family: 'Brandon_text-Medium';
                        text-align: center;
                        color: $gold;
                    }

                    hr{
                        width: 30%;
                        background-color: $grey;
                    }

                    p{
                        margin: 20px 0 20px 0;
                        color: $grey;
                    }
                    .row{
                        width: 100%;
                        margin: 0 0 40px 0;

                        .col-12{
                            border: 10px solid #fff;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            padding: 10px;
                            background-color: $white;

                            form{
                                display: flex;
                                flex-direction: column;

                                @include submit_button;

                                input[type='submit']{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
            #article_container{

                .col_preview{
                    @include content_container;
                    align-items: center;
                    .row{
                        margin: 40px 0 40px 0;
                        width: 100%;

                        .col-12{
                            border: 10px solid #fff;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            padding: 10px;
                            background-color: $white;

                            .carousel-caption{
                                position: static;
                                text-align: left;
                                padding: 20px;

                                .article_header{
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-between;
                                    margin-bottom: 20px;

                                    h4{
                                        text-align: left;
                                        color: $red;
                                    }
                                    h5{
                                        color: $grey;
                                    }
                                }

                                .article_content{
                                    display: flex;
                                    flex-direction: column;
                                    padding: 30px 0 10px 0;

                                    p{
                                        color: $grey;
                                    }

                                    .author{
                                        align-self: flex-end;
                                        text-transform: capitalize;
                                        margin: 20px 0 0 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        footer{
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: $grey;

            #footer_content{
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .row{
                    width: 100%;
                    margin: 20px 0 20px 0;

                    div{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0;

                        a{
                            width: 50%;
                            color: $white;
                            text-align: center;
                            padding: 5px 0 5px 0;
                        }
                    }
                }
                .brand{
                    font-family: 'Brandon_text-Bold';
                    color: $white;
                    font-size: 22px;
                    margin: 30px 0 30px 0;
                    padding: 10px;
                    border: 2px solid $white;
                }
                #copyright{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 15px;

                    p{
                        color: $white;
                        font-size: 12px;
                        font-family: 'montserrat';
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .content_container{
        width: 55% !important;
    }

    html{
        body{
            header{
                .container{
                    padding-left: 21%;
                }
            }
            #main_container{

                #home_container{
                    #welcome_container{
                        height: 90vh;
                    }
                }
            }
        }
    }
}