@font-face {
  font-family: 'filsonProBold';
  src: url("assets/fonts/FilsonPro/FilsonProBold-Bold.otf"); }
@font-face {
  font-family: 'filsonProLight';
  src: url("assets/fonts/FilsonPro/FilsonProLight-Light.otf"); }
@font-face {
  font-family: 'hensa';
  src: url("assets/fonts/Raul-5/Hensa.otf"); }
@font-face {
  font-family: 'montserrat';
  src: url("assets/fonts/Montserrat/Montserrat-Light.otf"); }
@font-face {
  font-family: 'Brandon_text-Bold';
  src: url("assets/fonts/Brandon_text/HVD Fonts - BrandonText-Bold.otf"); }
@font-face {
  font-family: 'Brandon_text-Medium';
  src: url("assets/fonts/Brandon_text/HVD Fonts - BrandonText-Medium.otf"); }
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("assets/fonts/Proxima nova/ProximaNova-Regular.otf"); }
p {
  font-family: 'ProximaNova-Regular'; }

html {
  height: 100vh; }
  html body {
    height: 100vh; }
    html body header {
      background-color: #f8f8f8; }
      html body header .container {
        width: 100%;
        margin: 0; }
        html body header .container .hidden-lg-up {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center; }
          html body header .container .hidden-lg-up button {
            border: 0; }
            html body header .container .hidden-lg-up button img {
              width: 26px;
              height: 20px; }
          html body header .container .hidden-lg-up .brand {
            font-family: 'Brandon_text-Bold';
            color: #8e3e3d;
            font-size: 22px; }
          html body header .container .hidden-lg-up .login_button {
            width: 40px;
            height: 30px; }
            html body header .container .hidden-lg-up .login_button img {
              width: inherit;
              height: inherit; }
        html body header .container .navbar-collapse .navbar-nav {
          padding: 15px 0 15px 0; }
          html body header .container .navbar-collapse .navbar-nav li {
            text-align: center;
            font-family: 'Brandon_text-Bold'; }
    html body #main_container {
      width: 100%;
      height: 100vh; }
      html body #main_container #home_container {
        width: inherit;
        height: inherit; }
        html body #main_container #home_container #project_presentation_container {
          width: inherit;
          height: 92%;
          background-image: url("assets/img/Rectangle.png");
          background-size: 100% 100%; }
          html body #main_container #home_container #project_presentation_container .content_container {
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 70%;
            align-items: center;
            height: 95%; }
            html body #main_container #home_container #project_presentation_container .content_container h4 {
              margin-top: 30px;
              font-family: 'Brandon_text-Medium';
              text-align: center;
              color: #f8f8f8; }
            html body #main_container #home_container #project_presentation_container .content_container hr {
              width: 30%;
              background-color: #f8f8f8; }
            html body #main_container #home_container #project_presentation_container .content_container p {
              color: #f8f8f8; }
            html body #main_container #home_container #project_presentation_container .content_container img {
              margin-top: auto; }
      html body #main_container #map_container {
        height: inherit; }
        html body #main_container #map_container .content_container {
          display: flex;
          flex-direction: column;
          margin: auto;
          width: 70%; }
          html body #main_container #map_container .content_container p {
            margin-top: 30px; }
          html body #main_container #map_container .content_container #select_container {
            margin: 10px 0 10px 0; }
            html body #main_container #map_container .content_container #select_container .dropdown {
              margin-bottom: 10px; }
        html body #main_container #map_container #map {
          width: 100%;
          height: 80%;
          margin: 30px 0 30px 0; }
        html body #main_container #map_container .content_container {
          display: flex;
          flex-direction: column;
          margin: auto;
          width: 70%;
          align-items: center; }
          html body #main_container #map_container .content_container h4 {
            margin-top: 30px;
            font-family: 'Brandon_text-Medium';
            text-align: center;
            color: #d3ae68; }
          html body #main_container #map_container .content_container hr {
            width: 30%;
            background-color: #343539; }
          html body #main_container #map_container .content_container p {
            color: #343539; }
        html body #main_container #map_container .carousel {
          margin-bottom: 20px;
          max-width: 500px;
          max-height: 450px;
          background-color: #f8f8f8;
          padding: 20px 0 10px 0; }
          html body #main_container #map_container .carousel .carousel-indicators {
            margin-bottom: 5px; }
            html body #main_container #map_container .carousel .carousel-indicators li {
              border-radius: 50%;
              max-width: 10px;
              height: 10px;
              border: 1px solid #422c1f; }
            html body #main_container #map_container .carousel .carousel-indicators li.active {
              background-color: #422c1f; }
          html body #main_container #map_container .carousel .carousel-inner .carousel-item {
            height: 450px; }
            html body #main_container #map_container .carousel .carousel-inner .carousel-item img {
              margin: 0 auto 0 auto;
              width: 80%;
              height: 40%; }
            html body #main_container #map_container .carousel .carousel-inner .carousel-item .carousel-caption {
              text-align: left;
              padding-bottom: 40px; }
              html body #main_container #map_container .carousel .carousel-inner .carousel-item .carousel-caption h4 {
                color: #8e3e3d; }
              html body #main_container #map_container .carousel .carousel-inner .carousel-item .carousel-caption p, html body #main_container #map_container .carousel .carousel-inner .carousel-item .carousel-caption h4, html body #main_container #map_container .carousel .carousel-inner .carousel-item .carousel-caption a {
                color: #343539; }
          html body #main_container #map_container .carousel .carousel-control-prev .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }
          html body #main_container #map_container .carousel .carousel-control-next .carousel-control-next-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }
        html body #main_container #map_container .content_container .row {
          width: 100%; }
          html body #main_container #map_container .content_container .row div {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0; }
            html body #main_container #map_container .content_container .row div img {
              width: 95%;
              height: 95%; }
        html body #main_container #map_container .content_container h3 {
          color: #b27d61;
          font-family: 'filsonProBold'; }
        html body #main_container #map_container .content_container a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 50px;
          margin-bottom: 30px;
          color: #f8f8f8;
          font-family: 'Brandon_text-Medium';
          font-size: 18px;
          background-color: #8e3e3d; }

/*# sourceMappingURL=style.css.map */
